:root, [data-bs-theme=light] {
  --bs-primary: #2d479c;
  --bs-primary-rgb: 45,71,156;
  --bs-primary-text-emphasis: #121C3E;
  --bs-primary-bg-subtle: #D5DAEB;
  --bs-primary-border-subtle: #ABB5D7;
  --bs-secondary: #a3eb6a;
  --bs-secondary-rgb: 163,235,106;
  --bs-secondary-text-emphasis: #415E2A;
  --bs-secondary-bg-subtle: #EDFBE1;
  --bs-secondary-border-subtle: #DAF7C3;
  --bs-success: #25b483;
  --bs-success-rgb: 37,180,131;
  --bs-success-text-emphasis: #0F4834;
  --bs-success-bg-subtle: #D3F0E6;
  --bs-success-border-subtle: #A8E1CD;
  --bs-dark: #052206;
  --bs-dark-rgb: 5,34,6;
  --bs-dark-text-emphasis: #020E02;
  --bs-dark-bg-subtle: #CDD3CD;
  --bs-dark-border-subtle: #9BA79B;
  --bs-body-bg: #21896a;
  --bs-body-bg-rgb: 33,137,106;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2d479c;
  --bs-btn-border-color: #2d479c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #263C85;
  --bs-btn-hover-border-color: #24397D;
  --bs-btn-focus-shadow-rgb: 224,227,240;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #24397D;
  --bs-btn-active-border-color: #223575;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2d479c;
  --bs-btn-disabled-border-color: #2d479c;
}

.btn-outline-primary {
  --bs-btn-color: #2d479c;
  --bs-btn-border-color: #2d479c;
  --bs-btn-focus-shadow-rgb: 45,71,156;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2d479c;
  --bs-btn-hover-border-color: #2d479c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2d479c;
  --bs-btn-active-border-color: #2d479c;
  --bs-btn-disabled-color: #2d479c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2d479c;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a3eb6a;
  --bs-btn-border-color: #a3eb6a;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B1EE80;
  --bs-btn-hover-border-color: #ACED79;
  --bs-btn-focus-shadow-rgb: 24,35,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B5EF88;
  --bs-btn-active-border-color: #ACED79;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a3eb6a;
  --bs-btn-disabled-border-color: #a3eb6a;
}

.btn-outline-secondary {
  --bs-btn-color: #a3eb6a;
  --bs-btn-border-color: #a3eb6a;
  --bs-btn-focus-shadow-rgb: 163,235,106;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a3eb6a;
  --bs-btn-hover-border-color: #a3eb6a;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a3eb6a;
  --bs-btn-active-border-color: #a3eb6a;
  --bs-btn-disabled-color: #a3eb6a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a3eb6a;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #25b483;
  --bs-btn-border-color: #25b483;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #46BF96;
  --bs-btn-hover-border-color: #3BBC8F;
  --bs-btn-focus-shadow-rgb: 6,27,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #51C39C;
  --bs-btn-active-border-color: #3BBC8F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #25b483;
  --bs-btn-disabled-border-color: #25b483;
}

.btn-outline-success {
  --bs-btn-color: #25b483;
  --bs-btn-border-color: #25b483;
  --bs-btn-focus-shadow-rgb: 37,180,131;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #25b483;
  --bs-btn-hover-border-color: #25b483;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #25b483;
  --bs-btn-active-border-color: #25b483;
  --bs-btn-disabled-color: #25b483;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #25b483;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #052206;
  --bs-btn-border-color: #052206;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #041D05;
  --bs-btn-hover-border-color: #041B05;
  --bs-btn-focus-shadow-rgb: 218,222,218;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #041B05;
  --bs-btn-active-border-color: #041A05;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #052206;
  --bs-btn-disabled-border-color: #052206;
}

.btn-outline-dark {
  --bs-btn-color: #052206;
  --bs-btn-border-color: #052206;
  --bs-btn-focus-shadow-rgb: 5,34,6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #052206;
  --bs-btn-hover-border-color: #052206;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #052206;
  --bs-btn-active-border-color: #052206;
  --bs-btn-disabled-color: #052206;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #052206;
}

[data-bs-theme=dark] {
  --bs-primary: #555ad0;
  --bs-primary-rgb: 85,90,208;
  --bs-primary-text-emphasis: #999CE3;
  --bs-primary-bg-subtle: #11122A;
  --bs-primary-border-subtle: #33367D;
  --bs-secondary: #4c8024;
  --bs-secondary-rgb: 76,128,36;
  --bs-secondary-text-emphasis: #94B37C;
  --bs-secondary-bg-subtle: #0F1A07;
  --bs-secondary-border-subtle: #2E4D16;
  --bs-success: #29a97d;
  --bs-success-rgb: 41,169,125;
  --bs-success-text-emphasis: #7FCBB1;
  --bs-success-bg-subtle: #082219;
  --bs-success-border-subtle: #19654B;
  --bs-body-bg: #38e6f1;
  --bs-body-bg-rgb: 56,230,241;
  --bs-link-color: #2745ae;
  --bs-link-color-rgb: 39,69,174;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #555ad0;
  --bs-btn-border-color: #555ad0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #484DB1;
  --bs-btn-hover-border-color: #4448A6;
  --bs-btn-focus-shadow-rgb: 230,230,248;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4448A6;
  --bs-btn-active-border-color: #40449C;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #555ad0;
  --bs-btn-disabled-border-color: #555ad0;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #555ad0;
  --bs-btn-border-color: #555ad0;
  --bs-btn-focus-shadow-rgb: 85,90,208;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #555ad0;
  --bs-btn-hover-border-color: #555ad0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #555ad0;
  --bs-btn-active-border-color: #555ad0;
  --bs-btn-disabled-color: #555ad0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #555ad0;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4c8024;
  --bs-btn-border-color: #4c8024;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #416D1F;
  --bs-btn-hover-border-color: #3D661D;
  --bs-btn-focus-shadow-rgb: 228,236,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3D661D;
  --bs-btn-active-border-color: #39601B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4c8024;
  --bs-btn-disabled-border-color: #4c8024;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #4c8024;
  --bs-btn-border-color: #4c8024;
  --bs-btn-focus-shadow-rgb: 76,128,36;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4c8024;
  --bs-btn-hover-border-color: #4c8024;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4c8024;
  --bs-btn-active-border-color: #4c8024;
  --bs-btn-disabled-color: #4c8024;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4c8024;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #29a97d;
  --bs-btn-border-color: #29a97d;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #49B691;
  --bs-btn-hover-border-color: #3EB28A;
  --bs-btn-focus-shadow-rgb: 6,25,19;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #54BA97;
  --bs-btn-active-border-color: #3EB28A;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #29a97d;
  --bs-btn-disabled-border-color: #29a97d;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #29a97d;
  --bs-btn-border-color: #29a97d;
  --bs-btn-focus-shadow-rgb: 41,169,125;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #29a97d;
  --bs-btn-hover-border-color: #29a97d;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #29a97d;
  --bs-btn-active-border-color: #29a97d;
  --bs-btn-disabled-color: #29a97d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #29a97d;
}

